<!-- sms -->
<div
  class="fixed z-10 inset-0 overflow-y-auto"
  aria-labelledby="modal-title"
  role="dialog"
  @AnimationTrigger0
  *ngIf="isModal2"
  aria-modal="true"
>
  <div
    class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0"
  >
    <!--
      Background overlay, show/hide based on modal state.

      Entering: "ease-out duration-300"
        From: "opacity-0"
        To: "opacity-100"
      Leaving: "ease-in duration-200"
        From: "opacity-100"
        To: "opacity-0"
    -->
    <div
      class="fixed inset-0 bg-black bg-opacity-75 transition-opacity"
      aria-hidden="true"
    ></div>

    <!-- This element is to trick the browser into centering the modal contents. -->
    <span
      class="hidden sm:inline-block sm:align-middle sm:h-screen"
      aria-hidden="true"
      >&#8203;</span
    >

    <!--
      Modal panel, show/hide based on modal state.

      Entering: "ease-out duration-300"
        From: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
        To: "opacity-100 translate-y-0 sm:scale-100"
      Leaving: "ease-in duration-200"
        From: "opacity-100 translate-y-0 sm:scale-100"
        To: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
    -->
    <div
      @AnimationTrigger1
      *ngIf="isModal2"
      class="relative inline-block align-bottom bg-white rounded-lg px-4 pt-5 pb-4 text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full sm:p-6"
    >
      <div>
        <div class="">
          <div>
            <label for="comment" class="block text-sm font-medium text-gray-700"
              >Add your message to
              <span
                class="bg-indigo-500 px-1 py-0.5 rounded-md font-medium text-indigo-50"
                >{{ this.currentAuthor.firstname }}</span
              ></label
            >
            <div class="mt-1">
              <textarea
                rows="4"
                [(ngModel)]="smsMessage"
                name="comment"
                id="comment"
                class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md"
              ></textarea>
            </div>
          </div>
        </div>
      </div>
      <div
        class="mt-5 sm:mt-6 sm:grid sm:grid-cols-2 sm:gap-3 sm:grid-flow-row-dense"
      >
        <button
          type="button"
          (click)="sendSMS()"
          class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-indigo-600 text-base font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:col-start-2 sm:text-sm"
        >
          Send SMS
        </button>
        <button
          (click)="closeImagesModal2()"
          type="button"
          class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:col-start-1 sm:text-sm"
        >
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
<!-- image upload -->
<div
  class="fixed z-10 inset-0 overflow-y-auto"
  aria-labelledby="modal-title"
  role="dialog"
  @AnimationTrigger0
  *ngIf="isModal"
  aria-modal="true"
>
  <div
    class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0"
  >
    <!--
      Background overlay, show/hide based on modal state.

      Entering: "ease-out duration-300"
        From: "opacity-0"
        To: "opacity-100"
      Leaving: "ease-in duration-200"
        From: "opacity-100"
        To: "opacity-0"
    -->
    <div
      class="fixed inset-0 bg-black bg-opacity-75 transition-opacity"
      aria-hidden="true"
    ></div>

    <!-- This element is to trick the browser into centering the modal contents. -->
    <span
      class="hidden sm:inline-block sm:align-middle sm:h-screen"
      aria-hidden="true"
      >&#8203;</span
    >

    <!--
      Modal panel, show/hide based on modal state.

      Entering: "ease-out duration-300"
        From: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
        To: "opacity-100 translate-y-0 sm:scale-100"
      Leaving: "ease-in duration-200"
        From: "opacity-100 translate-y-0 sm:scale-100"
        To: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
    -->
    <div
      @AnimationTrigger1
      *ngIf="isModal"
      class="relative inline-block align-bottom bg-white rounded-lg px-4 pt-5 pb-4 text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full sm:p-6"
    >
      <div>
        <div class="mt-3 sm:mt-5">
          <div class="flex">
            <h1 class="flex-1 text-2xl font-bold text-gray-900">Photos</h1>
            <div
              class="ml-6 bg-gray-100 p-0.5 rounded-lg flex items-center sm:hidden"
            >
              <button
                type="button"
                class="p-1.5 rounded-md text-gray-400 hover:bg-white hover:shadow-sm focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500"
              >
                <!-- Heroicon name: solid/view-list -->
                <svg
                  class="h-5 w-5"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M3 4a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm0 4a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm0 4a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm0 4a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                    clip-rule="evenodd"
                  />
                </svg>
                <span class="sr-only">Use list view</span>
              </button>
              <button
                type="button"
                class="ml-0.5 bg-white p-1.5 rounded-md shadow-sm text-gray-400 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500"
              >
                <!-- Heroicon name: solid/view-grid -->
                <svg
                  class="h-5 w-5"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    d="M5 3a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2V5a2 2 0 00-2-2H5zM5 11a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2v-2a2 2 0 00-2-2H5zM11 5a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V5zM11 13a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z"
                  />
                </svg>
                <span class="sr-only">Use grid view</span>
              </button>
            </div>
          </div>
          <div class="mt-2">
            <!-- Tabs -->
            <div class="mt-3 sm:mt-2">
              <div class="sm:hidden">
                <label for="tabs" class="sr-only">Select a tab</label>
                <!-- Use an "onChange" listener to redirect the user to the selected tab URL. -->
                <select
                  id="tabs"
                  name="tabs"
                  class="block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md"
                >
                  <option selected>Recently Viewed</option>
                  <option>Recently Added</option>
                  <option>Favorited</option>
                </select>
              </div>
              <div class="hidden sm:block">
                <div class="flex items-center border-b border-gray-200">
                  <nav
                    class="flex-1 -mb-px flex space-x-6 xl:space-x-8"
                    aria-label="Tabs"
                  >
                    <!-- Current: "border-indigo-500 text-indigo-600", Default: "border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300" -->
                    <a
                      href="#"
                      aria-current="page"
                      class="border-indigo-500 text-indigo-600 whitespace-nowrap py-4 px-1 border-b-2 font-medium text-sm"
                    >
                      Recently Viewed
                    </a>

                    <a
                      href="#"
                      class="border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300 whitespace-nowrap py-4 px-1 border-b-2 font-medium text-sm"
                    >
                      Recently Added
                    </a>

                    <a
                      href="#"
                      class="border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300 whitespace-nowrap py-4 px-1 border-b-2 font-medium text-sm"
                    >
                      Favorited
                    </a>
                  </nav>
                  <div
                    class="hidden ml-6 bg-gray-100 p-0.5 rounded-lg items-center sm:flex"
                  >
                    <button
                      type="button"
                      class="p-1.5 rounded-md text-gray-400 hover:bg-white hover:shadow-sm focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500"
                    >
                      <!-- Heroicon name: solid/view-list -->
                      <svg
                        class="h-5 w-5"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        aria-hidden="true"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M3 4a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm0 4a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm0 4a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm0 4a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                          clip-rule="evenodd"
                        />
                      </svg>
                      <span class="sr-only">Use list view</span>
                    </button>
                    <button
                      type="button"
                      class="ml-0.5 bg-white p-1.5 rounded-md shadow-sm text-gray-400 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500"
                    >
                      <!-- Heroicon name: solid/view-grid -->
                      <svg
                        class="h-5 w-5"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        aria-hidden="true"
                      >
                        <path
                          d="M5 3a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2V5a2 2 0 00-2-2H5zM5 11a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2v-2a2 2 0 00-2-2H5zM11 5a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V5zM11 13a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z"
                        />
                      </svg>
                      <span class="sr-only">Use grid view</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <section class="mt-8 pb-16" aria-labelledby="gallery-heading">
              <h2 id="gallery-heading" class="sr-only">Recently viewed</h2>
              <ul
                role="list"
                class="grid grid-cols-2 gap-x-4 gap-y-8 sm:grid-cols-3 sm:gap-x-6 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 xl:gap-x-8"
              >
                <li *ngIf="authService.hasRole('ADMIN')" class="relative">
                  <!-- Current: "ring-2 ring-offset-2 ring-indigo-500", Default: "focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-offset-gray-100 focus-within:ring-indigo-500" -->
                  <div
                    (click)="fileInput.click()"
                    class="ring-2 h-32 flex justify-center items-center ring-offset-2 ring-indigo-500 group w-full aspect-w-10 aspect-h-4 rounded-lg bg-gray-100 overflow-hidden"
                  >
                    <!-- Current: "", Default: "group-hover:opacity-75" -->
                    <svg
                      *ngIf="!selectedImage"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="w-20 h-20 text-gray-500"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M12 4.5v15m7.5-7.5h-15"
                      />
                    </svg>
                    <img
                      *ngIf="selectedImage"
                      class=""
                      [src]="selectedImage"
                      alt=""
                    />
                  </div>
                  <button
                    type="button"
                    (click)="uploadImage()"
                    class="inline-flex justify-center mt-2 w-36 -ml-1 items-center px-3 py-2 border border-transparent shadow-sm text-sm leading-4 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                  >
                    Upload
                    <!-- Heroicon name: solid/mail -->
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="w-6 h-6 ml-1"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
                      />
                    </svg>
                  </button>
                  <input
                    type="file"
                    #fileInput
                    style="display: none"
                    (change)="onFileSelected($event)"
                  />
                </li>
                <li
                  *ngFor="let avatar of currentAuthor.avatarUrls"
                  class="relative"
                >
                  <!-- Current: "ring-2 ring-offset-2 ring-indigo-500", Default: "focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-offset-gray-100 focus-within:ring-indigo-500" -->
                  <div
                    class="ring-2 h-32 ring-offset-2 ring-indigo-500 group block w-full aspect-w-10 aspect-h-4 rounded-lg bg-gray-100 overflow-hidden"
                  >
                    <!-- Current: "", Default: "group-hover:opacity-75" -->
                    <img
                      src="http://localhost:8080/api{{ avatar }}"
                      alt=""
                      class="object-cover w-full pointer-events-none"
                    />
                  </div>
                  <button
                    *ngIf="authService.hasRole('ADMIN')"
                    type="button"
                    (click)="deleteAvatar(avatar)"
                    class="inline-flex justify-center mt-2 w-36 -ml-1 items-center px-3 py-2 border border-transparent shadow-sm text-sm leading-4 font-medium rounded-md text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500"
                  >
                    Delete
                    <!-- Heroicon name: solid/mail -->
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="w-5 h-5"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
                      />
                    </svg>
                  </button>
                </li>

                <!-- More files... -->
              </ul>
            </section>
          </div>
        </div>
      </div>
      <div
        class="mt-5 sm:mt-6 sm:grid sm:grid-cols-1 sm:gap-3 sm:grid-flow-row-dense"
      >
        <button
          (click)="closeImagesModal()"
          type="button"
          class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:col-start-1 sm:text-sm"
        >
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>

<div class="py-6">
  <!-- This example requires Tailwind CSS v2.0+ -->
  <div class="px-4 sm:px-6 lg:px-8">
    <div class="sm:flex sm:items-center">
      <div class="sm:flex-auto">
        <h1 class="text-xl flex items-center font-semibold text-gray-900">
          Author
          <span
            class="bg-indigo-600 font-medium inline-block ml-2 text-indigo-50 rounded-md px-3"
            >{{ authors.length }}</span
          >
        </h1>
        <p class="mt-2 text-sm text-gray-700">
          A list of all the Authors accounts including their name, email and
          birthdate.
        </p>
      </div>
      <div class="mt-4 sm:mt-0 sm:ml-16 sm:flex-none">
        <button
          *ngIf="authService.hasRole('ADMIN')"
          (click)="isAdding = !isAdding"
          type="button"
          class="inline-flex items-center justify-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:w-auto"
        >
          Add author
        </button>
      </div>
    </div>
    <div class="pt-4 w-60">
      <label for="email" class="block text-sm font-medium text-gray-700"
        >Search</label
      >
      <div class="mt-1">
        <input
          [(ngModel)]="searchTerm"
          type="text"
          name="search"
          id="search"
          class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md"
          placeholder="Hossem..."
        />
      </div>
      <p class="mt-2 text-sm text-gray-500" id="email-description">
        Search for a specific author.
      </p>
    </div>
    <div class="mt-8 flex flex-col">
      <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
          <div
            class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 md:rounded-lg"
          >
            <table class="min-w-full divide-y divide-gray-300">
              <thead class="bg-gray-50">
                <tr>
                  <th
                    scope="col"
                    class="py-3 pl-4 pr-3 text-left text-xs font-medium uppercase tracking-wide text-gray-500 sm:pl-6"
                  >
                    Avatar
                  </th>
                  <th
                    scope="col"
                    class="py-3 pl-4 pr-3 text-left text-xs font-medium uppercase tracking-wide text-gray-500 sm:pl-6"
                  >
                    Firstname
                  </th>
                  <th
                    scope=" col"
                    class="py-3 pl-4 pr-3 text-left text-xs font-medium uppercase tracking-wide text-gray-500 sm:pl-6"
                  >
                    Lastname
                  </th>
                  <th
                    scope="col"
                    class="px-3 py-3 text-left text-xs font-medium uppercase tracking-wide text-gray-500"
                  >
                    Email
                  </th>
                  <th
                    scope="col"
                    class="px-3 py-3 text-left text-xs font-medium uppercase tracking-wide text-gray-500"
                  >
                    Password
                  </th>
                  <th
                    scope="col"
                    class="px-3 py-3 text-left text-xs font-medium uppercase tracking-wide text-gray-500"
                  >
                    Phone number
                  </th>
                  <th
                    scope="col"
                    class="px-3 py-3 text-left text-xs font-medium uppercase tracking-wide text-gray-500"
                  >
                    Birthdate
                  </th>
                  <th scope="col" class="relative py-3 pl-3 pr-4 sm:pr-6">
                    <span class="sr-only">Edit</span>
                  </th>
                  <th scope="col" class="relative py-3 pl-3 pr-4 sm:pr-6">
                    <span class="sr-only">Delete</span>
                  </th>
                </tr>
              </thead>
              <tbody class="divide-y divide-gray-200 bg-white">
                <tr *ngIf="isAdding">
                  <td>
                    <div class="mt-1 ml-1 sm:mt-0 sm:col-span-2">
                      <div class="flex items-center">
                        <span
                          class="h-12 w-12 rounded-full overflow-hidden bg-gray-100"
                        >
                          <svg
                            *ngIf="!selectedImage"
                            class="h-full w-full text-gray-300"
                            fill="currentColor"
                            viewBox="0 0 24 24"
                          >
                            <path
                              d="M24 20.993V24H0v-2.996A14.977 14.977 0 0112.004 15c4.904 0 9.26 2.354 11.996 5.993zM16.002 8.999a4 4 0 11-8 0 4 4 0 018 0z"
                            />
                          </svg>
                          <img
                            *ngIf="selectedImage"
                            class="rounded-full"
                            [src]="selectedImage"
                            alt=""
                          />
                        </span>
                        <button
                          type="button"
                          (click)="fileInput.click()"
                          class="ml-5 bg-white py-2 px-3 border border-gray-300 rounded-md shadow-sm text-sm leading-4 font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                        >
                          Change
                        </button>
                      </div>
                    </div>
                    <input
                      type="file"
                      #fileInput
                      style="display: none"
                      (change)="onFileSelected($event)"
                    />
                  </td>
                  <td class="pl-4 text-sm">
                    <input
                      [(ngModel)]="newAuthor.firstname"
                      type="text"
                      name="name"
                      id="name"
                      class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block sm:text-sm border-gray-300 rounded-md"
                      placeholder="first name"
                    />
                  </td>
                  <td class="pl-4 text-sm">
                    <input
                      [(ngModel)]="newAuthor.lastname"
                      type="text"
                      name="name"
                      id="name"
                      class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block sm:text-sm border-gray-300 rounded-md"
                      placeholder="last name"
                    />
                  </td>
                  <td class="pl-4 text-sm">
                    <input
                      [(ngModel)]="newAuthor.email"
                      type="email"
                      name="email"
                      id="email"
                      class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block sm:text-sm border-gray-300 rounded-md"
                      placeholder="you@example.com"
                    />
                  </td>

                  <td class="pl-4 text-sm">
                    <input
                      [(ngModel)]="newAuthor.password"
                      type="password"
                      name="pass"
                      id="pass"
                      class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block sm:text-sm border-gray-300 rounded-md"
                      placeholder="******"
                    />
                  </td>
                  <td class="pl-4 text-sm">
                    <input
                      [(ngModel)]="newAuthor.tel"
                      type="text"
                      name="tel"
                      id="tel"
                      class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block sm:text-sm border-gray-300 rounded-md"
                      placeholder="22 222 222"
                    />
                  </td>
                  <td class="pl-4 text-sm">
                    <input
                      [(ngModel)]="newAuthor.datenai"
                      type="date"
                      name="date"
                      id="date"
                      class="shadow-sm focus:ring-indigo-500 placeholder:text-gray-400 focus:border-indigo-500 block sm:text-sm border-gray-300 rounded-md"
                    />
                  </td>

                  <td
                    class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6"
                  >
                    <button
                      (click)="addAuthor()"
                      class="text-indigo-600 hover:text-indigo-900"
                    >
                      Add
                    </button>
                  </td>
                </tr>
                <tr *ngFor="let author of authors | filter : searchTerm">
                  <td (click)="openImagesModal(author.id)">
                    <div class="flex -space-x-2 relative z-0 overflow-hidden">
                      <img
                        *ngFor="let avatar of author.avatarUrls"
                        class="relative z-30 inline-block h-8 w-8 rounded-full ring-2 ring-white"
                        src="http://localhost:8080/api{{ avatar }}"
                        alt=""
                      />
                    </div>
                  </td>
                  <td
                    *ngIf="!isEditing[author.id || -1]"
                    class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6"
                  >
                    {{ author.firstname }}
                  </td>
                  <td *ngIf="isEditing[author.id || -1]" class="pl-4 text-sm">
                    <input
                      [(ngModel)]="author.firstname"
                      type="text"
                      name="name"
                      id="name"
                      class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block sm:text-sm border-gray-300 rounded-md"
                      placeholder="full name"
                    />
                  </td>
                  <td
                    *ngIf="!isEditing[author.id || -1]"
                    class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6"
                  >
                    {{ author.lastname }}
                  </td>
                  <td *ngIf="isEditing[author.id || -1]" class="pl-4 text-sm">
                    <input
                      [(ngModel)]="author.lastname"
                      type="text"
                      name="name"
                      id="name"
                      class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block sm:text-sm border-gray-300 rounded-md"
                      placeholder="full name"
                    />
                  </td>
                  <td
                    *ngIf="!isEditing[author.id || -1]"
                    class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"
                  >
                    {{ author.email }}
                  </td>
                  <td *ngIf="isEditing[author.id || -1]" class="pl-4 text-sm">
                    <input
                      [(ngModel)]="author.email"
                      type="email"
                      name="email"
                      id="email"
                      class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block sm:text-sm border-gray-300 rounded-md"
                      placeholder="you@example.com"
                    />
                  </td>
                  <td
                    *ngIf="!isEditing[author.id || -1]"
                    class="whitespace-nowrap flex items-center px-3 py-4 text-sm text-gray-500"
                  >
                    <span id="{{ author.id }}-pass">*******</span
                    ><svg
                      (click)="showAuthorPassword(author)"
                      *ngIf="!showPassword[author.id || -1]"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="w-6 h-6 ml-1"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M3.98 8.223A10.477 10.477 0 001.934 12C3.226 16.338 7.244 19.5 12 19.5c.993 0 1.953-.138 2.863-.395M6.228 6.228A10.45 10.45 0 0112 4.5c4.756 0 8.773 3.162 10.065 7.498a10.523 10.523 0 01-4.293 5.774M6.228 6.228L3 3m3.228 3.228l3.65 3.65m7.894 7.894L21 21m-3.228-3.228l-3.65-3.65m0 0a3 3 0 10-4.243-4.243m4.242 4.242L9.88 9.88"
                      />
                    </svg>
                    <svg
                      (click)="hideAuthorPassword(author)"
                      *ngIf="showPassword[author.id || -1]"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="w-6 h-6 ml-1"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z"
                      />
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
                      />
                    </svg>
                  </td>
                  <td *ngIf="isEditing[author.id || -1]" class="pl-4 text-sm">
                    <input
                      [(ngModel)]="author.password"
                      type="text"
                      name="pass"
                      id="pass"
                      class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block sm:text-sm border-gray-300 rounded-md"
                      placeholder="******"
                    />
                  </td>
                  <td
                    (click)="openSMSModal(author.id)"
                    *ngIf="!isEditing[author.id || -1]"
                    class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"
                  >
                    {{ author.tel }}
                  </td>
                  <td *ngIf="isEditing[author.id || -1]" class="pl-4 text-sm">
                    <input
                      [(ngModel)]="author.tel"
                      type="text"
                      name="tel"
                      id="tel"
                      class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block sm:text-sm border-gray-300 rounded-md"
                      placeholder="22 222 222"
                    />
                  </td>

                  <td
                    *ngIf="!isEditing[author.id || -1]"
                    class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"
                  >
                    {{ author.datenai | date : "mediumDate" }}
                  </td>
                  <td *ngIf="isEditing[author.id || -1]" class="pl-4 text-sm">
                    <input
                      [(ngModel)]="author.datenai"
                      type="date"
                      name="date"
                      id="date"
                      class="shadow-sm focus:ring-indigo-500 placeholder:text-gray-400 focus:border-indigo-500 block sm:text-sm border-gray-300 rounded-md"
                    />
                  </td>
                  <td
                    *ngIf="!isEditing[author.id || -1]"
                    class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6"
                  >
                    <button
                      *ngIf="authService.hasRole('ADMIN')"
                      (click)="startEditing(author.id)"
                      class="text-indigo-600 hover:text-indigo-900"
                    >
                      Edit
                    </button>
                  </td>
                  <td
                    *ngIf="!isEditing[author.id || -1]"
                    class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6"
                  >
                    <button
                      *ngIf="authService.hasRole('ADMIN')"
                      (click)="deleteAuthor(author?.id)"
                      class="text-red-600 hover:text-red-900"
                    >
                      Delete
                    </button>
                  </td>
                  <td
                    *ngIf="isEditing[author.id || -1]"
                    class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6"
                  >
                    <button
                      *ngIf="authService.hasRole('ADMIN')"
                      (click)="save(author)"
                      class="text-green-600 hover:text-green-900"
                    >
                      Save
                    </button>
                  </td>
                </tr>

                <!-- More people... -->
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
